.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
}

.monaco-action-bar{
    display: none !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}
